@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
._container {
  max-width: 856px;
  margin: 0 auto;
}
@media (max-width: 868px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*basic settings*/
.header {
  position: relative;
  z-index: 100;
}
.header__content {
  max-width: 1052px;
  padding: 0 10px;
  /*убрать прилипание*/
  margin: 0 auto;
}
.header__menu {
  height: 82px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}
@media (max-width: 767px) {
  .header__menu {
    height: 50px;
  }
}

@media (max-width: 767px) {
  .menu__body {
    transform: translate(0px, -100%);
    transition: transform 0.8s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 70px 10px 30px 0;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .menu__body._active {
    transform: translate(0px, 0%);
  }
}
.menu__list li {
  list-style-type: none;
  margin: 0 0 30px 0;
}
.menu__list li:last-child {
  margin: 0 0 0 0;
}
@media (min-width: 767px) {
  .menu__list {
    display: flex;
  }
  .menu__list li {
    margin: 0 33px 0 0px;
  }
}
.menu__link {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}
@media (min-width: 991.98px) {
  .menu__link:hover {
    transition: color 0.3s ease 0s;
    color: #ff6464;
  }
}
@media (max-width: 767px) {
  .menu__link {
    font-size: 40px;
    text-align: center;
    display: block;
  }
}

.active {
  color: #ff6464;
}

.icon_menu {
  /*бургер бургер бургер*/
  display: none;
}
@media (max-width: 767px) {
  .icon_menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon_menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .icon_menu span:first-child {
    top: 0px;
  }
  .icon_menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon_menu._active span {
    transform: scale(0);
  }
  .icon_menu._active span-first-child {
    transform: rotate(-45deg);
    top: calc(50%-1px);
  }
  .icon_menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50%-1px);
  }
}

.title {
  font-size: 44px;
  color: #212430;
  line-height: 136.3636363636%;
  font-weight: 700;
}
@media (max-width: 767px) {
  .title {
    font-size: 32px;
  }
}

.text {
  font-size: 16px;
  line-height: 143.75%;
  color: #212430;
}

.btn {
  border-radius: 2px;
  background: #ff6464;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 47px;
  color: #fff;
  font-size: 20px;
  line-height: 145%;
  font-weight: 500;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
}
@media (min-width: 992px) {
  .btn:hover {
    background-color: #bb4949;
  }
}
.btn._fw {
  width: 100%;
}

.page {
  flex: 1 1 auto;
  padding: 90px 0 0 0;
}
@media (max-width: 767px) {
  .page {
    padding: 30px 0px 0px 0;
  }
}

.hello {
  margin: 43px 0 71px 0;
}
@media (max-width: 868px) {
  .hello {
    margin: 0px 0px 70px 0;
  }
}
@media (max-width: 767px) {
  .hello {
    margin: 0px 0px 60px 0;
  }
}
.hello__container {
  display: flex;
}
@media (max-width: 767px) {
  .hello__container {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.hello__content {
  align-items: flex-start;
  padding-top: 18px;
  padding-right: 110px;
  flex: 1 1 auto;
}
.hello__content *:last-child {
  margin-bottom: 0px;
}
@media (max-width: 868px) {
  .hello__content {
    padding: 18px 50px 0 0;
  }
}
@media (max-width: 767px) {
  .hello__content {
    padding: 0px 0px 0 0;
  }
}
.hello__title {
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .hello__title {
    margin: 0px 0px 20px 0;
  }
}
.hello__text {
  margin-bottom: 35px;
}
@media (max-width: 767px) {
  .hello__text {
    padding: 0px 15px;
    margin: 0px 0px 25px 0;
  }
}
.hello__btn {
  margin: 0 0 25px 0;
}
@media (max-width: 767px) {
  .hello__btn {
    margin: 0px 0px 20px 0;
  }
}
.hello__avatar {
  flex: 0 0 243px;
  width: 243px;
  height: 243px;
  box-shadow: -5px 13px 0 0 #EDF7FA;
  border-radius: 50%;
}
.hello__avatar img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .hello__avatar {
    width: 170px;
    height: 170px;
    box-shadow: none;
    flex: 0 0 170px;
    margin: 0 auto 40px auto;
  }
}

.title-posts {
  font-size: 22px;
}
@media (max-width: 767px) {
  .title-posts {
    text-align: center;
    font-size: 18px;
  }
}

.recent-posts {
  background: #EDF7FA;
  padding: 25px 0 13px 0;
}
@media (max-width: 767px) {
  .recent-posts {
    padding: 25px 0 23px 0;
  }
}
.recent-posts__header {
  display: flex;
}
.recent-posts__title {
  padding: 0 20px 0 0;
  flex: 1 1 auto;
}
.recent-posts__view-all {
  flex: 0 0 auto;
  /*чтобы не переходило на новую строку*/
  font-size: 16px;
  text-align: right;
  color: #00a8cc;
}
@media (max-width: 767px) {
  .recent-posts__view-all {
    display: none;
  }
}
.recent-posts__items {
  margin: 20px -10px 0 -10px;
}
@media (min-width: 767px) {
  .recent-posts__items {
    display: flex;
  }
}
.recent-posts__column {
  flex: 0 1 50%;
  padding: 0px 10px;
  margin: 0 0 17px 0;
}
.recent-post {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 20px;
}
.recent-post *:last-child {
  margin-bottom: 0;
}
@media (min-width: 767px) {
  .recent-post {
    padding: 15px;
  }
}
.recent-post__title {
  display: inline-block;
  font-size: 26px;
  font-weight: 700;
  line-height: 146.1538461538%;
  color: inherit;
  margin: 0px 0px 17px 0;
}
@media (min-width: 991.98px) {
  .recent-post__title:hover {
    color: #ff6464;
    transition: all 0.3s ease 0s;
  }
}
@media (min-width: 767px) {
  .recent-post__title {
    font-size: 22px;
    margin: 0 0 10px 0;
  }
}
.recent-post__info {
  margin: 0 0 15px 0;
  font-size: 18px;
  line-height: 144.4444444444%;
}
.recent-post__info span {
  margin: 0px 10px;
}
@media (min-width: 767px) {
  .recent-post__info {
    font-size: 16px;
  }
}
.recent-post__text {
  margin: 0 0 15px 0;
}

.featured-works {
  padding: 30px 0 80px 0;
}
.featured-works__title {
  margin: 0 0 20px 0;
}

.works__items {
  padding-bottom: 60px;
}
@media (max-width: 767px) {
  .works__items {
    padding-bottom: 30px;
  }
}
.works__main-title {
  margin: 0 0 45px 0;
}
@media (max-width: 767px) {
  .works__main-title {
    margin: 0 0 20px 0;
  }
}
.works__item {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
@media (min-width: 767px) {
  .works__item {
    display: flex;
    align-items: flex-start;
  }
}
.works__image {
  flex: 0 0 246px;
  display: block;
  border-radius: 6px;
  min-height: 180px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .works__image {
    padding: 0 0 40% 0;
    /*очень хорошая настройка в адаптиве*/
  }
}
.works__body {
  flex: 1 1 auto;
}
@media (min-width: 767px) {
  .works__body {
    padding: 0 0 0 18px;
  }
}
.works__title {
  color: inherit;
  display: inline-block;
  font-size: 30px;
  line-height: 146.6666666667%;
  font-weight: 700;
  margin: 0 0 15px 0;
}
@media (max-width: 767px) {
  .works__title {
    font-size: 24px;
  }
}
.works__info {
  display: flex;
  align-items: center;
  margin: 0 0 15px 0;
}
.works__year {
  background: #142850;
  border-radius: 16px;
  height: 25px;
  padding: 0 10px;
  justify-cintent: center;
  align-items: center;
  color: white;
  display: inkine-flex;
  font-size: 18px;
  font-weight: 900;
}
.works__category {
  color: #8695a4;
  font-size: 20px;
  margin: 0 0 0 25px;
}
._ibg {
  /*позволяет имг работать как бэкграунд, нужно, если заменить картинку на более маленькую*/
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.footer {
  text-align: center;
  padding: 50px 0 50px 0;
  font-size: 14px;
}
@media (max-width: 767px) {
  .footer {
    padding: 30px 0;
  }
}
.footer__social {
  margin: 0 0 25px 0;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item {
  margin: 0 17px;
}

/*BLog*/
.blog {
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .blog {
    padding-bottom: 30px;
  }
}
.blog__title {
  margin: 0 0 50px 0;
}
@media (max-width: 767px) {
  .blog__title {
    margin-bottom: 20px;
  }
}
.blog__article-name {
  font-size: 30px;
  display: inline-block;
  font-weight: 500;
  line-height: 146.6666666667%;
  color: inherit;
  transition: all 0.3s ease 0s;
  margin: 0 0 10px 0;
}
@media (min-width: 991.98px) {
  .blog__article-name:hover {
    color: #ff6464;
  }
}
@media (max-width: 767px) {
  .blog__article-name {
    font-size: 26px;
  }
}
.blog__item {
  border-bottom: 1px solid #E0E0E0;
  padding-bottim: 30px;
  margin-bottom: 30px;
}
.blog__item:last-child {
  margin: 0 0 0 0;
}
@media (max-width: 767px) {
  .blog__item {
    margin-bottom: 25px;
    padding-bottim: 25px;
  }
}
.blog__info {
  display: flex;
  font-size: 20px;
  margin: 0 0 10px 0;
}
@media (max-width: 767px) {
  .blog__info {
    font-size: 16px;
  }
}
.blog__category {
  color: #8695A4;
}
.blog span {
  margin: 0 15px;
}

html, body {
  height: 100%;
  font-family: "Heebo";
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
